{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Formation : {{sel_formation.designaion}}</h4>
        
        <p class="card-description"> Durée : {{sel_formation.duree}} </p>
        <p class="card-description"> Date de création : {{sel_formation.createdat}} </p>
        <label>Matière</label>
        <form class="forms-sample" method="post" action="{% url 'addFormation' %}">
            {% csrf_token %}
        <div class="row">
            <div class="col-6">
                  <input hidden value="{{sel_formation.id}}" name ="formation">
                    <div class="form-group"> 
                        <select class="js-example-basic-single" style="width:100%" name="matiere">
                          <option value="">Choisir la matiere</option>
                          {% for m in matieres %}
                          <option value="{{m.id}}">{{m.designation}}</option>
                          {% endfor %}
                        </select>
                   </div>
            </div>

            <div class="col-6">
              <div class="form-group"> 
                        <select class="js-example-basic-single" style="width:100%" name="formateur">
                          <option value="">Choisir le formateur</option>
                          {% for f in formateurs %}
                          <option value="{{f.id}}">{{f.nom}} {{f.postnom}} {{f.prenom}}</option>
                          {% endfor %}
                        </select>
                   </div>

                 <button type="submit" class="btn btn-primary mr-2">Enregistrer</button>
                 <button class="btn btn-dark">Annuler</button><br> <br>
               {% if msg %}
               <div class="form-group">
                <label style="color:red">{{msg}}</label>
               </div>
               {% endif %}
            </div>
          </div>
         </form>
        {% if list_detailFa %}
        <div class="row">
          <div class="" style="margin:-10px">
              <form action="" method="post" class="forms-sample breadcrumb">
                  {% csrf_token %}
                  <div class="form-group">
                    <input type="text" style ="color:white" class="form-control" name="rech" id="rech" placeholder="Recherche ...">
                  </div>
                </form>
          </div>

        </div>
        <div class="table-responsive">
          <table class="table table-striped" style ="color:white">
            <thead>
              <tr>
                <th> Id </th>
                <th> Matière </th>
                <th> Formateur </th>
                <th>Date de création</th>
                <th> Actions </th>
              </tr>
            </thead>
            <tbody>
                {% for df in list_detailFa %}
              <tr>
                <td class="py-1">
                {{forloop.counter}}
                </td>
                <td> {{df.matiere}} </td>
                <td>
                     {{df.formateur}} 
                </td>
                <td> {{df.createdat}}  </td>
                <td>
                    <a href="" onclick="return confirm('Etes-vous sûr de vouloir supprimer?')"> <i class="mdi mdi-delete"></i></a>
                    <a href=""><i class="mdi mdi-table-edit"></i></a>
                </td>
               
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <br>
          {% if list_detailp.has_previous %}
                <a href="?page=1">&laquo;</a>
                <a href="?page={{ list_detailp.previous_page_number }}"><span class="badge badge-info ">Précédent</span></a>
          {% endif %}
                page {{ list_detailp.number }} sur {{ list_detailp.paginator.num_pages }}
                <span class="badge badge-info pull-right">{{compte}}</span>
          
                {% if list_detailp.has_next %}
                   <a href="?page={{ list_detailp.next_page_number }}"><span class="badge badge-info ">Suivant</span></a>
                   <a href="?page={{compte}}">&raquo;</a>
                {% else %}
                {% endif %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>

{% endblock content %}
