{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Noms : {{sel_aprenant.nom}} {{sel_aprenant.postnom}} {{sel_aprenant.prenom}}</h6>
        <p class="card-description">inscrit(e) le {{sel_aprenant.createdAt}}</p>
       
        <form class="forms-sample" method="post" action="{% url 'addDetailAprenant' %}">
            {% csrf_token %}
        <div class="row">
            <div class="col-6">
                    <div class="form-group">
                        
                        <select class="js-example-basic-single" style="width:100%" name="session">
                          <option value="">Selectionnez la session</option>
                          {% for s in sessions %}
                          <option value="{{s.id}}">{{s.designation}}-{{s.dateDebut}}-{{s.dateFin}}</option>
                          {% endfor %}
                        </select>
                     </div>

                      <div class="form-group">
                        
                        <select class="js-example-basic-single" style="width:100%" name="sponsor">
                          <option value="">Sponsorisé?</option>
                           <option value="True">Oui</option>
                           <option value="False">Non</option>
                        </select>
                     </div>
                   
                    <input type="text" name="aprenant" value="{{sel_aprenant.id}}" hidden class="form-control" style="color:white" id="exampleInputCity1">
            </div>

            <div class="col-6">
               <div class="form-group">
                        <select class="js-example-basic-single" style="width:100%" name="formation">
                          <option value="">Selectionnez la formation</option>
                          {% for f in formations %}
                          <option value="{{f.id}}">{{f.designaion}}</option>
                          {% endfor %}
                        </select>
                     </div>

                 <button type="submit" class="btn btn-primary mr-2">Enregistrer</button>
                 <button class="btn btn-dark">Annuler</button><br> <br>
               {% if msg %}
               <div class="form-group">
                <label style="color:red">{{msg}}</label>
               </div>
               {% endif %}
            </div>
          </div>
         </form>
         {% if list_detailA %}
        <div class="row">
          <div class="" style="margin:-10px">
              <form action="" method="post" class="forms-sample breadcrumb">
                  {% csrf_token %}
                  <div class="form-group">
                    <input type="text" style ="color:white" class="form-control" name="rech" id="rech" placeholder="Recherche ...">
                  </div>
                </form>
          </div>

        </div>
        
        <div class="table-responsive">
          <table class="table table-striped" style ="color:white">
            <thead>
              <tr>
                <th style ="color:white"> Id </th>
                <th style ="color:white"> Aprenant </th>
                <th style ="color:white"> Session </th>
                <th style ="color:white"> Formation </th>
                <th style ="color:white"> Sponsorisé </th>
                <th style ="color:white"> Date </th>
                <th style ="color:white"> Actions </th>
              </tr>
            </thead>
            <tbody>
                {% for d in list_detailA %}
              <tr>
                <td class="py-1">
                {{d.id}}
                </td>
                <td> {{d.aprenant}} </td>
                <td>
                     {{d.session}} 
                </td>
                <td> {{d.formation}}  </td>
                <td> {{d.sponsoriser}} </td>
                 <td> {{d.createdat}} </td>
                <td>
                    <a href="" onclick="return confirm('Etes-vous sûr de vouloir supprimer?')"> <i class="mdi mdi-delete"></i></a>
                    <a href=""><i class="mdi mdi-table-edit"></i></a>
                </td>
               
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <br>
          {% if list_detailA.has_previous %}
                <a href="?page=1">&laquo;</a>
                <a href="?page={{ list_detailA.previous_page_number }}"><span class="badge badge-info ">Précédent</span></a>
          {% endif %}
                page {{list_detailA.number }} sur {{ list_detailA.paginator.num_pages }}
                <span class="badge badge-info pull-right">{{compte}}</span>
          
                {% if list_detailA.has_next %}
                   <a href="?page={{ list_detailA.next_page_number }}"><span class="badge badge-info ">Suivant</span></a>
                   <a href="?page={{compte}}">&raquo;</a>
                {% else %}
                {% endif %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>

{% endblock content %}
