{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Formateur : {{sel_formateur.nom}} {{sel_formateur.postnom}} {{sel_formateur.prenom}}</h6>
        <p class="card-description">Enregistré le {{sel_formateur.createdAt}}</p>
       
        <form class="forms-sample" method="post" action="{% url 'addDetailFormateur' %}">
            {% csrf_token %}
        <div class="row">
            <div class="col-6">
                    <div class="form-group">
                        
                        <select class="js-example-basic-single" style="width:100%" name="matiere">
                          <option value="">Selectionnez une matière</option>
                          {% for m in matiere %}
                          <option value="{{m.id}}">{{m.designation}}-{{m.nombreHeure}} HEURES</option>
                          {% endfor %}
                        </select>
                     </div>
                   
                    <input type="text" name="formateur" value="{{sel_formateur.id}}" hidden class="form-control" style="color:white" id="exampleInputCity1">
            </div>

            <div class="col-6">
                 <button type="submit" class="btn btn-primary mr-2">Ajouter</button>
               {% if msg %}
               <div class="form-group">
                <label style="color:red">{{msg}}</label>
               </div>
               {% endif %}
            </div>
          </div>
         </form>
         {% if list_detailF %}
        <div class="row">
          <div class="" style="margin:-10px">
              <form action="" method="post" class="forms-sample breadcrumb">
                  {% csrf_token %}
                  <div class="form-group">
                    <input type="text" style ="color:white" class="form-control" name="rech" id="rech" placeholder="Recherche ...">
                  </div>
                </form>
          </div>

        </div>
        
        <div class="table-responsive">
          <table class="table table-striped" style ="color:white">
            <thead>
              <tr>
                <th style ="color:white"> Id </th>
                <th style ="color:white"> Matière </th>
                <th style ="color:white">Volume Horaire</th>
                <th style ="color:white">Date de création</th>
                <th style ="color:white"> Actions </th>
              </tr>
            </thead>
            <tbody>
                {% for f in list_detailF %}
              <tr>
                <td class="py-1">
                {{forloop.counter}}
                </td>
                <td> {{f.matiere}} </td>
                <td>
                     {{f.matiere.nombreHeure}} HEURES
                </td>
                 <td> {{f.createdat}} </td>
                <td>
                    <a href="" onclick="return confirm('Etes-vous sûr de vouloir supprimer?')"> <i class="mdi mdi-delete"></i></a>
                    <a href=""><i class="mdi mdi-table-edit"></i></a>
                </td>
               
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <br>
          {% if list_detailA.has_previous %}
                <a href="?page=1">&laquo;</a>
                <a href="?page={{ list_detailA.previous_page_number }}"><span class="badge badge-info ">Précédent</span></a>
          {% endif %}
                page {{list_detailA.number }} sur {{ list_detailA.paginator.num_pages }}
                <span class="badge badge-info pull-right">{{compte}}</span>
          
                {% if list_detailA.has_next %}
                   <a href="?page={{ list_detailA.next_page_number }}"><span class="badge badge-info ">Suivant</span></a>
                   <a href="?page={{compte}}">&raquo;</a>
                {% else %}
                {% endif %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>

{% endblock content %}
