{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Statistiques de présences en : {{sel_formation.designaion}}</h4>
        <p class="card-description" style="color:white"> Total aprenant : {{nbrApe}} | Hommes : {{nbrH}} | Femmes : {{nbrF}} </p>
        <p class="card-description" style="color:white"> Nombre de séances : {{nbrseance}} </p>
        
     
        <div class="table-responsive">
            {% if apr %}
          <table class="table table-striped" style ="color:white">
            <thead>
              <tr>
                <th style="color:white"> Id </th>
                <th style="color:white"> Aprenant</th>
                <th style="color:white">Nombre de séances</th>
                <th style="color:white">Taux de participation</th>
              </tr>
            </thead>
            <tbody>
                {% for m in apr %}
              <tr>
                <td class="py-1">
                {{forloop.counter}}
                </td>
                <td> {{m.aprenant__nom}} {{m.aprenant__postnom}} {{m.aprenant__prenom}}</td>
                <td >
                     {{m.total}} / {{nbrseance}}
                </td>

                <td>
                     {{m.taux}} %
                </td>
                
               
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% endif %}
          <br>
          {% if list_detailp.has_previous %}
                <a href="?page=1">&laquo;</a>
                <a href="?page={{ list_detailp.previous_page_number }}"><span class="badge badge-info ">Précédent</span></a>
          {% endif %}
                Total actif {{ list_detailp.number }}  {{ list_detailp.paginator.num_pages }}
                <span class="badge badge-info pull-right">{{compte}}</span>
          
                {% if list_detailp.has_next %}
                   <a href="?page={{ list_detailp.next_page_number }}"><span class="badge badge-info ">Suivant</span></a>
                   <a href="?page={{compte}}">&raquo;</a>
                {% else %}
                {% endif %}
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
