{% extends "base.html" %}
{% load static %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">{% if aprenant %}Modifier {{aprenant}} {% else %}Formulaire d'ajout d'un aprenant{% endif %}</h4>
        <p class="card-description"> Information</p>
        <form class="forms-sample" method="post" action="{% if aprenant %} {% url 'updateAprenant' aprenant.id %} {% else %}{% url 'addAprenant' %} {% endif%}">
            {% csrf_token %}
        <div class="row">
            <div class="col-6">
                   
                   <div class="form-group">
                    <label for="exampleInputCity1">Nom</label>
                    <input type="text" style="color:white" value="{{aprenant.nom}}" class="form-control" id="exampleInputCity1" placeholder="nom" name="nom">
                  </div>

                   <div class="form-group">
                    <label for="exampleInputCity1">Post-Nom</label>
                    <input type="text" style="color:white" value="{{aprenant.postnom}}" class="form-control" id="exampleInputCity1" placeholder="post-nom" name="postnom">
                  </div>

                   <div class="form-group">
                    <label for="exampleInputCity1">Prenom</label>
                    <input type="text" style="color:white" value="{{aprenant.prenom}}"  class="form-control" id="exampleInputCity1" placeholder="prénom" name="prenom">
                  </div>

                   <div class="form-group">
                    <label for="exampleInputCity1">Lieu de naissance</label>
                    <input type="text" value="{{aprenant.lieunaissance}}"  style="color:white" class="form-control" id="exampleInputCity1" placeholder="lieu de naissance" name="lieu">
                  </div>

                   <div class="form-group">
                    <label for="exampleInputCity1">Date Naissance</label>
                    <input type="text" value="{{aprenant.datenaissance}}" style="color:white" class="form-control" id="exampleInputCity1" placeholder="Date Naissance" name="datenais">
                  </div>

                <div class="form-group">
                 <label>Sexe</label>
                    <select class="js-example-basic-single" style="width:100%" name="sexe">
                    {% if aprenant %} {% else %} <option value="">--------------</option> {% endif %}
                    <option value="
                    {% if aprenant.sexe == 'M' %} selected
                    {% elif aprenant.sexe == 'F' %} selected
                    {% endif %}
                    ">
                      {% if aprenant.sexe == 'M' %} HOMME
                      {% elif aprenant.sexe == 'F' %} FEMME
                      {% endif %}
                    </option>
                    <option value="M">HOMME</option> 
                    <option value="F">FEMME</option> 
                   
                    </select>
                  </div>
            </div>

            <div class="col-6">
                  <div class="form-group">
                 <label>Etat civil</label>
                    <select class="js-example-basic-single" style="width:100%" name="etatciv">
                    {% if aprenant %} {% else %} <option value="">--------------</option> {% endif %}
                    <option value="
                    {% if aprenant.Etatcivil  == 'CELIBATAIRE' %} selected
                      {% elif aprenant.Etatcivil  == 'MARIE'%} selected
                      {% elif aprenant.Etatcivil  == 'VEUF'%} selected
                      {% elif aprenant.Etatcivil  == 'VEUF'%} selected
                      {% elif aprenant.Etatcivil  == 'DIVORCE'%} selected
                      {% endif %}
                    ">
                      {% if aprenant.Etatcivil  == 'CELIBATAIRE' %} {{aprenant.Etatcivil}}
                      {% elif aprenant.Etatcivil  == 'MARIE'%} {{aprenant.Etatcivil}}
                      {% elif aprenant.Etatcivil  == 'VEUF'%} {{aprenant.Etatcivil}}
                      {% elif aprenant.Etatcivil  == 'VEUF'%} {{aprenant.Etatcivil}}
                      {% elif aprenant.Etatcivil  == 'DIVORCE'%} {{aprenant.Etatcivil}}
                      {% endif %}
                    </option>
                    <option value="CELIBATAIRE">CELIBATAIRE</option> 
                    <option value="MARIE">MARIE</option> 
                    <option value="VEUF">VEUF</option> 
                    <option value="DIVORCE">DIVORCE</option> 
                    </select>
                  </div>
                
                   <div class="form-group">
                    <label for="exampleInputCity1">Niveau D'étude</label>
                    <input type="text" value="{{aprenant.niveauEtude}}" style="color:white" class="form-control" id="exampleInputCity1" placeholder="Niveau d'étude" name="niveau">
                  </div>

                   <div class="form-group">
                    <label for="exampleInputCity1">E-mail</label>
                    <input type="mail" value="{{aprenant.email}}" style="color:white" class="form-control" id="exampleInputCity1" placeholder="email" name="email">
                  </div>

                   <div class="form-group">
                    <label for="exampleInputCity1">Téléphone</label>
                    <input type="text" value="{{aprenant.telephone}}" style="color:white" class="form-control" id="exampleInputCity1" placeholder="téléphone" name="telephone">
                  </div>
                <div class="form-group">
                 <label>Langue</label>
                    <select class="js-example-basic-single" style="width:100%" name="langue">
                    {% if aprenant %}
                      pass
                    {% else %}
                      <option value="">----------------</option>
                    {% endif %}
                    <option value="
                      {% if aprenant.langue  == 'FRANCAIS' %} selected
                      {% elif aprenant.langue  == 'ANGLAIS' %} selected
                      {% elif aprenant.langue  == 'AUTRES' %} selected
                      {% endif %}
                    ">
                      {% if aprenant.langue  == 'FRANCAIS' %} {{aprenant.langue}}
                      {% elif aprenant.langue  == 'ANGLAIS'%} {{aprenant.langue}}
                      {% elif aprenant.langue  == 'AUTRES'%} {{aprenant.langue}}
                      {% endif %}
                    </ption>
                    <option value="FRANCAIS">FRANCAIS</option> 
                    <option value="ANGLAIS">ANGLAIS</option> 
                    <option value="AUTRES">AUTRES</option> 
                    </select>
                  </div>
     
               {% if msg %}
                    <script>
                          Swal.fire({
                                icon: "error",
                                title: "Erreur",
                                text: ('{{msg}}') ,
                              });   
                              
                              
                    </script>
               <div class="form-group">
                <label class="badge badge-danger">{{msg}}</label>
               </div>
              {% elif mesok %}
              
              <script>
                  Swal.fire({
                    icon: "success",
                    title: "Success",
                    text: ('{{mesok}}') ,
                }); 
                </script>
              {% endif %}
            </div>
        </div>

        <div class="form-group">
            <label for="exampleTextarea1">Adresse</label>
            <textarea class="form-control" style="color:white" id="exampleTextarea1" name="adresse" rows="4">{{aprenant.adresse}}</textarea>
        </div>


          <button type="submit" class="btn btn-primary mr-2">{% if aprenant %}Modifier {% else %}Enregistrer {% endif %}</button>
          <a class="btn btn-primary mr-2" href="{% url 'aprenant' %}" style="color:white">Retour<a/>
        </form>
        
      </div>
    </div>
  </div>

{% endblock content %}
