{% extends "base.html" %}
{% load static %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Formulaire d'ajout de frais</h4>
        <p class="card-description"> Information </p>
        <form class="forms-sample" method="post" action="{% url 'addFrais' %}">
            {% csrf_token %}
        <div class="row">
            <div class="col-6">
                    
                    
                   <div class="form-group">
                    <label for="exampleInputCity1">Designation</label>
                    <input type="text" style="color:white" class="form-control" id="exampleInputCity1" placeholder="Désignation" name="designation">
                  </div>
            </div>

            <div class="col-6">
              <div class="form-group">
                    <label for="exampleInputCity1">Coût</label>
                    <input type="number" style="color:white" class="form-control" id="exampleInputCity1" placeholder="Coût" name="cout">
                </div>
              {% if msg %}
                    <script>
                          Swal.fire({
                                icon: "error",
                                title: "Erreur",
                                text: ('{{msg}}') ,
                              });   
                              
                              
                    </script>
               <div class="form-group">
                <label class="badge badge-danger">{{msg}}</label>
               </div>
              {% elif msok %}
              
              <script>
                  Swal.fire({
                    icon: "success",
                    title: "Success",
                    text: ('{{msok}}') ,
                }); 
                </script>
                <label class="badge badge-danger">Opération réussie</label>
              {% endif %}
            </div>
        </div>

          <button type="submit" class="btn btn-primary mr-2">Enregistrer</button>
          <a style ="color:white" class="btn btn-primary mr-2" href="{% url 'frais' %}">Retour</a>
        </form>
      </div>
    </div>
  </div>

{% endblock content %}
