{% extends "base.html" %}
{% load static %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">{% if matiere %}Modification {% else %}Formulaire d'ajout de matière{% endif %}</h4>
        <p class="card-description"> Information </p>
        <form class="forms-sample" method="post" action="{% if matiere %} {% url 'updateMatiere' matiere.id %}{% else %} {% url 'addMatiere' %} {% endif %}">
            {% csrf_token %}
        <div class="row">
            <div class="col-6">
                    
                    
                   <div class="form-group">
                    <label for="exampleInputCity1">Designation</label>
                    <input type="text" style="color:white" value="{{ matiere.designation }}" class="form-control" id="exampleInputCity1" placeholder="Matière" name="matiere">
                  </div>
            </div>

            <div class="col-6">
              <div class="form-group">
                    <label for="exampleInputCity1">Volume Horaire</label>
                    <input type="number" value="{{ matiere.nombreHeure }}" style="color:white" class="form-control" id="exampleInputCity1" placeholder="Volume horaire" name="heure">
                </div>
                {% if msg %}
                    <script>
                          Swal.fire({
                                icon: "error",
                                title: "Erreur",
                                text: ('{{msg}}'),
                              });   
                              
                              
                    </script>
               <div class="form-group">
                <label class="badge badge-danger">{{msg}}</label>
               </div>
              {% elif msok %}
              
              <script>
                  Swal.fire({
                    icon: "success",
                    title: "Success",
                    text: ('{{msok}}') ,
                }); 
                </script>
               <div class="form-group">
                <label class="badge badge-danger">{{msok}}</label>
               </div>
               {% endif %}
            </div>
        </div>

          <button type="submit" class="btn btn-primary mr-2">{% if matiere %}Modifier {% else %}Enregistrer{% endif %}</button>
            <a style ="color:white" class="btn btn-primary mr-2" href="{% url 'matiere' %}">Retour</a>
        </form>
      </div>
    </div>
  </div>

{% endblock content %}
